#intro-baltic {
  min-height: 500px;
  width: 100%;
  background-image: url("../photos/baltic-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 180px;
}

#intro-baltic > .container2 {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
#intro-tatra > .container2 > p {
  font-size: 20px;
}

#about-baltic {
  margin-top: 50px;
}
