#intro-mazury {
  min-height: 500px;
  width: 100%;
  background-image: url("../photos/mazury-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  padding: 180px;
}

#intro-mazury > .container2 {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}

#intro-mazury > .container2 > h1 {
  text-align: center;
}

#intro-mazury > .container2 > p {
  font-size: 20px;
  text-align: center;
}

#about-mazury {
  margin-top: 50px;
}
